body {
  background: blanchedalmond;
}
.container {
  display: flex;
  flex-direction: column;/*set flex-direction to column */
  justify-content: space-between;
  height: 200px;
  background-color: #f0f0f0;
}

.a, .b, .c {
  flex-basis: 100px;
}

.a {
  background-color: rgb(108, 96, 96);
}

.b {
  background-color: rgb(64, 66, 64);
  flex-basis: 400px;
}

.c {
  background-color: rgb(31, 31, 32);
}

