body {
  background: blanchedalmond;
}
.container {
  display: flex;
  flex-direction: column;/*set flex-direction to column */
  justify-content:center;
  height: 200px;
  background-color: #f0f0f0;
}

.a, .b, .c {
  flex-basis: 100px;
  margin-bottom: 10px;
  width: 300px;
  border: 1px solid #000; /* Add a 1px solid black border */
  display: flex; /* Add display:flex to center the text vertically */
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  font-size: 16px; /* Change the font size */
}
}


.a {
  background-color: rgb(190, 190, 190);
}

.b {
  background-color: rgb(168, 168, 168);
  flex-basis: 400px;
}

.c {
  background-color: rgb(175, 175, 183);
}

